@model List<TaskyApp.ViewModels.TaskPropViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    
    <nav>

        <img src="/images/logo.jpg" class="logo" alt="Logo">



        @if (ViewBag.CreatorID <= 0)
        {
            <button class="button-89 logtools" role="button"><a href="@Url.Action("Login","Home")">Login</a></button>
        }
        else if (ViewBag.CreatorID >= 0)
        {
            <a href="@Url.Action("Index","Home" ,new {creatorID=0})">
                <i class="fa-solid fa-right-from-bracket logtools" style="position:relative;right:30px;margin-left:-20%;"></i>
            </a>
            <a href="@Url.Action("NewTask","Task",new{creatorID=ViewBag.CreatorID})">
                <i class="fa-solid fa-plus" style="border:1px solid black;padding:5px;border-radius:50%;"></i>
          </a>
          
            

        }
        
        <a href="setts.html" class="settings">
            <i class="fa-solid fa-gear"></i> SETTINGS
        </a>
       
       
    </nav>
   
    
   

        <table class="listOfTasks">
            <thead>
                <tr class="head">
                    <th>Task</th>
                    <th>Task Description</th>
                    <th>Created on</th>
                    <th>Task Completed</th>
                </tr>
            </thead>
            <tbody>
            @if (ViewBag.CreatorID > 0)
            {
                @foreach (var task in Model)
                {
                    <tr class="ins">
                        <td><input class="inpsT" type="text" value="@task.Task" readonly></td>
                        <td><input class="inpsT" type="text" value="@task.TaskDescription" readonly></td>
                        <td><p>@task.DateOfCreation</p> <p>@task.HourOfCreation</p></td>
                        <td><input type="checkbox"></td>
                    </tr>
                }
            }
            else
            {
               
                    <tr class="ins">
                        <td><input class="inpsT" type="text"  readonly></td>
                        <td><input class="inpsT" type="text" readonly></td>
                        <td><input type="checkbox"></td>
                    </tr>
                
            }
        </tbody>
        </table>

    <style>
        
    </style>
    <script src="https://kit.fontawesome.com/eaaba1c9b5.js" crossorigin="anonymous"></script>
    <script src="/js/site.js"></script>
</body>
</html>
